
*.o

*.elf

*.bg

*.lock

*.map

*.scratch

\.cproject

\.project

\.mxproject

GUIBuilder/GUIBuilder\.exe

GUIBuilder/GUIBuilder\.ini

*.exe

*.bat

*.html

*.chm

*.txt

*.js

*.gif

*.png

*.bmp

*.avi

*.jpg

*.wav

*.emf

*.vcxproj

*.bin

*.kate-swp

*.user
